@model Model.Setor

@{
    ViewBag.Title = "Detalhes";
    Layout = "~/Views/_Modal.cshtml";
}

<h2>Details</h2>

<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
