@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Master/_Administrativo.cshtml";
}
<div>
    <fieldset>
        <legend>Reservas a vencer</legend>
        
    </fieldset>
</div>
<div>
    <fieldset>
        <legend>Lista</legend>

    </fieldset>
</div>